#container{
    margin-top: 100px;
}



.col-sm-3{

    background-color: #e9ecef;
    border: 4px solid #FFC652;
    border-radius: 15px;
    margin: auto;
    

}

.jumbotron{
    border: 4px inset #FFC652;
    border-radius: 15px;


}