<div class="jumbotron text-center">
    <h1>Authentification App </h1>
    <p>This application allows a user to register and login, he can look at his profile, display all users ...</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3 style="color:mediumseagreen">Nodjs/Express</h3>
        <p>I used the express framework and the nodejs server to create my backend.</p>
        <p> I created and exposed restful web service that I consumed by the front. Nodjs:the V8 engine and the non-blocking operation.</p>
      </div>
      <div class="col-sm-3 ">
        <h3 style="color:tomato">Angular5 <img src="https://pbs.twimg.com/media/DSzSKLuV4AA69ay.png" width="20%"/> </h3>
        <p>I used angular 5 to create my frontend application. it's a single page application,</p>
        <p> I implemented the necessary design and consume all the webs that have been exposed</p>
      </div>
      <div class="col-sm-3">
        <h3>MongoDB <img   src="https://broadwayinfosys.com/uploads/courses/mongodb.png" width="20%"/> </h3>        
        <p>j'ai utilisé mongodb pour créer ma base de donnée et mongoose pour faire la relation.</p>
        <p>it's a non-relational database that allows us to dump json files to a sufficient amount</p>
      </div>
    </div>
  </div>
  